@import url("header/header.css");
@import url("heroBanner/heroBanner.css");
@import url("section/section1.css");
@import url("section/section2.css");
@import url("section/section3.css");
@import url("section/faq.css");

:root {
    --CTA-color: #00c2b3;
    --CTA-second-color: #00ccbd; 
    --black : #2e3333;
    --third-color:#008c9a
  }

  body, html {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #fbfbfb;
}


.title{
    width: fit-content;
    font-size: 40px;
}

.btn-more{
    background-color: var(--CTA-second-color);
    color: #ffffff;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    display: inline-block;
    width: fit-content;
}